extends layout

block content
  //h1= title
  //p Welcome to #{title}
  #main
    #links
      |     
      #header
        #logo
        #logo_text
          // <h1>tree<span class="alternate_colour">_tops</span></h1>     
        #menubar
          ul#menu
            // put class="tab_selected" in the li tag for the selected page - to highlight which page you're on
            li.tab_selected
              a(href='/') Inicio
            // <li><a href="our_services.html">Quienes Somos</a></li>
            li
              a(href='/Reservacion') Reservacion
            |           
            li
              a(href='/Bus') Bus

            li
              a(href='/Pago') Pago
            li
              a(href='/Viaje') Viaje
            li
              a(href='/Ruta') Ruta
            |           
            li
              a(href='/Informacion') Informacion
      |     
      #site_content
              
        .sidebar
          // insert your sidebar items here
          h1 Administracion de buses
          |       
          |         
          p
            | Se administraran los buses, agregando, eliminando o modificando alguno que ya este.
        |       
        #content
          // insert the page content here
          h1 Administracion de buses
          |         
          p
          |         
          ul
            li Insertar 
            | &#x9;&#x9; 
            p.
              tipo 
            select(name='selCombo', size='1', onchange="javascript:alert('prueba');")
              option(value='link pagina 1') Economico
              option(value='link pagina 2') Empresarial
            br
            br
            input(type='submit', value='Insertar')
            br  
            |           
            li Eliminar
            | &#x9;&#x9;
            p.
              tipo  
            select(name='selCombo', size='1', onchange="javascript:alert('prueba');")
              option(value='link pagina 1') Economico
              option(value='link pagina 2') Empresarial
            p.
              cantidad
            select(name='selCombo', size='1', onchange="javascript:alert('prueba');")
              option(value='link pagina 1') 1
              option(value='link pagina 2') 2
              option(value='link pagina 2') 3
              option(value='link pagina 2') 4
              option(value='link pagina 2') 5
              option(value='link pagina 2') 6
              option(value='link pagina 2') 7
              option(value='link pagina 2') 8
              option(value='link pagina 2') 9
              option(value='link pagina 2') 10
            br
            br
            input(type='submit', value='Insertar')
            br  
            |           
            li Modificar
            | &#x9;&#x9;  
            p.
              tipo 
            select(name='selCombo', size='1', onchange="javascript:alert('prueba');")
              option(value='link pagina 1') Economico
              option(value='link pagina 2') Empresarial
            br
            br
            input(type='submit', value='Insertar')
            br
            
        |     
        #site_content_bottom
      |     
      #footer Copyright &copy; viajes.com. All Rights Reserved. 
