extends layout

block content
  //h1= title
  //p Welcome to #{title}
  #main
    #links
      |     
      #header
        #logo
        #logo_text
          // <h1>tree<span class="alternate_colour">_tops</span></h1>     
        #menubar
          ul#menu
            // put class="tab_selected" in the li tag for the selected page - to highlight which page you're on
            li.tab_selected
              a(href='/') Inicio
            // <li><a href="our_services.html">Quienes Somos</a></li>
            li
              a(href='/Reservacion') Reservacion
            |           
            li
              a(href='/Bus') Bus
            
            li
              a(href='/Pago') Pago
            li
              a(href='/Viaje') Viaje
            li
              a(href='/Ruta') Ruta
            |           
            li
              a(href='/Informacion') Informacion
      |     
      #site_content
              
        .sidebar
          // insert your sidebar items here
          h1 Lugares
          |       
          ul
            li Tikal
            li Monterico
            li Lago de Atitlan 
            li Antigua Guatemala 
        |       
        #content
          // insert the page content here
          h1 &iquest;Quienes somos?
          |         
          p
          |         
          ul
            li Misi&oacute;n
            | &#x9;&#x9;  
            p
              | Somos una empresa dedicada a la comercializaci&oacute;n de viajes y de mas alta calidad.
            |           
            li Vision
            | &#x9;&#x9;  
            p
              | Ser la empresa l&iacute;der en cuanto a los viajes en buses , brind&aacute;ndoles a nuestros clientes la mejor experiencia.
            |           
            li valores
            | &#x9;&#x9;  
            p Responsabilidad,Excelencia, Integridad, responsabilidad social
        |     
        #site_content_bottom
      |     
      #footer Copyright &copy; Viajes.com. All Rights Reserved. 
