extends layout

block content
  //h1= title
  //p Welcome to #{title}
  #main
    #links
      |     
      #header
        #logo
        #logo_text
          // <h1>tree<span class="alternate_colour">_tops</span></h1>     
        #menubar
          ul#menu
            // put class="tab_selected" in the li tag for the selected page - to highlight which page you're on
            li.tab_selected
              a(href='/') Inicio
            // <li><a href="our_services.html">Quienes Somos</a></li>
            li
              a(href='/Reservacion') Reservacion
            |           
            li
              a(href='/Bus') Bus
            
            li
              a(href='/Pago') Pago
            li
              a(href='/Viaje') Viaje
            li
              a(href='/Ruta') Ruta
            |           
            li
              a(href='/Informacion') Informacion
      |     
      #site_content
              
        .sidebar
          // insert your sidebar items here
          h1 Manual Tecnico
          |       
          |         
          p
            | Julio David Velasquez Dardon      201212727      Sistema de Bases de Datos
        |       
        #content
          // insert the page content here
          h1 Manual Tecnico
          |         
          p
          |         
          ul
            li Sistema
            |   
            p
              | El sistema se basa en la reservacion y compra de tickets, los cuales tienen un viaje en especifico. El cliente puede 
              | entrar a la pagina y poder pagar y reservar los tickets que quiera. 
            |           
            li Funcionalidad
            | 
            p
              | El sistema usa una tecnologia basada en node js con una base de datos PostgreSQL, la cual contiene los datos de cada
              | cliente, bus, reservacion, ticket, etc utilizados.
              | 
              | El codigo fuente esta estructurado por modulos, entre los cuales estan:
              ul
                li Jade
                P.
                  Jade es un lenguaje conciso para escribir plantillas HTML.produce HTML, soporta código dinámico y soporta reutilización (DRY)

                li express
                p.
                  Express es sin duda el framework más conocido de node.js, es una extensión del poderoso connect y esta inspirado en 
                  sinatra, además es robusto, rápido, flexible, simple…Sin duda el exito de express radica en lo sencillo que es usarlo,
                   y además abarca un sin número de aspectos que muchos desconocen pero son necesarios.

                li pg
                p.
                  Es el modulo que permite conectar PostgreSQL a node js

                li stylus
                p.
                  Es un modulo que permite procesar un CSS mediante NodeJS.
            p.
              Diagrama ER           
            img(src='/images/db1-practica4.png' WIDTH=700 HEIGHT=500)
        |     
        #site_content_bottom
      |     
      #footer Copyright &copy; Viajes.com. All Rights Reserved. 
