extends layout

block content
  //h1= title
  //p Welcome to #{title}
  #main
    #links
      |     
      #header
        #logo
        #logo_text
          // <h1>tree<span class="alternate_colour">_tops</span></h1>     
        #menubar
          ul#menu
            // put class="tab_selected" in the li tag for the selected page - to highlight which page you're on
            li.tab_selected
              a(href='/') Inicio
            // <li><a href="our_services.html">Quienes Somos</a></li>
            li
              a(href='/Reservacion') Reservacion
            |           
            li
              a(href='/Bus') Bus
            
            li
              a(href='/Pago') Pago
            li
              a(href='/Viaje') Viaje
            li
              a(href='/Ruta') Ruta
            |           
            li
              a(href='/Informacion') Informacion
      |     
      #site_content
              
        .sidebar
          // insert your sidebar items here
          h1 Pago del viaje
          |       
          |         
          p
            | Se paga el viaje por la trayectoria completa desde el inicio al final.
        |       
        #content
          // insert the page content here
          h1 Pago de Viaje
          |         
          p.
            Nombre
          br
          input(type='text', name='texto1', value='')
          br
          P.
            NIT
          br
          input(type='text', name='texto1', value='')
          br
          P.
            Lugar
          br
          select(name='selCombo', size='1', onchange="javascript:alert('prueba');")
            option(value='link pagina 1') Tikal
            option(value='link pagina 2') Lago de Atitlan
            option(value='link pagina 2') Monterico
            option(value='link pagina 2') Antigua Guatemala
          br
          br
          input(type='submit', value='Insertar')
          
        |     
        #site_content_bottom
      |     
      #footer Copyright &copy; Viajes.com. All Rights Reserved. 
