extends layout

block content
  //h1= title
  //p Welcome to #{title}
  #main
    #links
      |     
      #header
        #logo
        #logo_text
          // <h1>tree<span class="alternate_colour">_tops</span></h1>     
        #menubar
          ul#menu
            // put class="tab_selected" in the li tag for the selected page - to highlight which page you're on
            li.tab_selected
              a(href='/') Inicio
            // <li><a href="our_services.html">Quienes Somos</a></li>
            li
              a(href='/Reservacion') Reservacion
            |           
            li
              a(href='/Bus') Bus

            li
              a(href='/Pago') Pago
            li
              a(href='/Viaje') Viaje
            li
              a(href='/Ruta') Ruta
            |           
            li
              a(href='/Informacion') Informacion
      |     
      #site_content
              
        .sidebar
          // insert your sidebar items here
          h1 Consultas de viajes
          |       
          |         
          p
            | Se podran hacer consultas de viajes basandoce en el No de factura
        |       
        #content
          // insert the page content here
          h1 Consutlas de viajes

          p.
            No de factura

          input(type='text', name='texto1', value='')
          
          br
          br
          br
          input(type='submit', value='Consultar')
          br  


        |     
        #site_content_bottom
      |     
      #footer Copyright &copy; Viajes.com. All Rights Reserved. 
